.value-bar {
    background-color: rgba(128, 128, 128, 0.438);
    width: 20vw;
    max-width: 200px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    left: 20%;
    margin: 10px;
    min-height: 30px;
}

.up {
    color: green;
    position: relative;
    bottom: 15px;
    left: 10px;
    font-weight: bolder;
  
}

.down {
    color: red;
    position: relative;
    bottom: 15px;
    left: 20px;
    font-weight: bolder;
}

.circle {
    &--online {
        background-color: rgb(22,22,22);
        color: white;
        font-weight: bolder;
        width: 20vw;
        max-width: 200px;
        padding: 15px;
        border-radius: 10px;
        position: relative;
        left: 10%;
        margin: 10px;
        min-height: 30px;
        display: flex;
    }
    &--offline {
        background-color: rgba(206, 188, 188, 0.253);
        color: white;
        font-weight: bolder;
        width: 20vw;
        max-width: 200px;
        padding: 15px;
        border-radius: 10px;
        position: relative;
        left: 10%;
        margin: 10px;
        min-height: 30px;
        display: flex;
    }
  }