.cross-chain-tool {
  background-color: rgba(128, 128, 128, 0.49);
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0.5em;

  .logo {
    display: inline-block;
  }

  .logo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    z-index: 2;
    background-color: #858d76b8;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: rgb(75, 68, 68);
    max-width: 90px;
    max-height: 300%;
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 2;
    white-space: pre-wrap;
  }
  
  .logo-label {
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    color: white;
    margin: 2px;
  }

  .subtitle {
    border: 1px solid white;
    width: 150px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-bottom: 40px;
  }

  .input {
    position: relative;
    border: 1px solid #fffcfc;
    border-radius: 3px;
    height: 30px;
    margin: 5px;
    max-width: 100%;
  }

  #from-input {
    text-align: right;
    width: 100%;
    background-color: #858d76b8;
    color: white;
  }

  .from-select {
    width: 29%;
  }
  #to-input {
    text-align: right;
    width: 100%;
    background-color: #858d76b8;
    color: white;
  }

  .input-text {
    position: absolute;
    color: white;
    left: 5px;
    top: 3px;
  }

  .input-field {
    text-align: right;
  }

  .available {
    position: relative;
    right: 20%;
    margin-bottom: 20px;
    color: white;
  }

  label {
    margin-right: 10px;
  }

  .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
  }

  .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid #d2191970;
    color: #d2191970;
  }

  .css-1ptx2yq-MuiInputBase-root-MuiInput-root {
    color: rgb(13, 13, 123);
    font-weight: bold;
  }

  .receiving {
    position: relative;
    top: 10px;
  }
}