.crypto-chart {
    position: relative;
    margin: 25px;
    left: 120px;
    width: 60%;
}

.chart1 {
    width: 50vw;
    position: relative;
    right: 55px;
}

.chart2 {
    width: 50vw;
    position: relative;
    right: 55px;
    margin-top: 20px;
}